@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MyFirstWebApp.Models.Book

@{
}

<h1>A Model Page</h1>
<div>@Model.Title</div>
<div>@Model.Publisher</div>

@section MySection
{
    <div>Coming from the view inside a section</div>
    }
