@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<html>
<head>
    <title>This is a simple view</title>
</head>
<body>
    <h1>My View</h1>
    <h2>@ViewBag.MyData</h2>
</body>
</html>
